<div class="container-fluid">
    <form class="animate" (ngSubmit)="OnSubmit(uname.value)">
        <div class="modal-content1 container1" style="color:white">
            <label for="uname"><b>Username</b></label>
            <input class="input" type="text" placeholder="Enter Username" #uname ngModel name="uname" required>
            <button class="submitbutton" type="submit" name="user">Get OTP</button><br/><br/>
            <div class="progress">
                <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" style="width:33%"></div>
            </div><br/>
            <span class="badge badge-danger" *ngIf="mailerror">Mail sending error on our side ! Stay Tuned</span><br/>
            <span class="badge badge-danger">*Mail with OTP will be sent on Registered Email</span>
        </div>
    </form>
</div>