<div class="container-fluid">
    <form class="animate" (ngSubmit)="OnSubmit(password.value,confirmpassword.value)">
        <div class="modal-content1 container1" style="color:white">
            <input class="input" type="password" placeholder="Enter Password" #password ngModel name="password" required>
            <input class="input" type="password" placeholder="Confirm Password" #confirmpassword ngModel name="confirmpassword" required>
            <button class="submitbutton" type="submit" name="user">Generate New Password</button><br/>
            <div class="progress">
                <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" style="width:100%"></div>
            </div>
            <span class="badge badge-danger" *ngIf="notequal">Password and Confirm Password mismatch</span><br/>
        </div>
    </form>
</div>